@import '../../styles/colors.scss';
@import '../../styles/globals.scss';

.map-view{
    width: 100vw;
    height: 100vh;

    .saved-pin{
        position: relative;

        .saved-pin-label{
            background: $white;
            display: none;
            position: absolute;
            left: -70px;
            top: -55px;
            width: 140px;
        }

        svg{
            position: relative;
            top: -20px;
            right: 5px;
            height:20px;
        }
    }

    .saved-pin:hover{
        .saved-pin-label{
            display: block;
        }
    }

    .search-location, .current-location{
        position: relative;

        .location-details-label{
            background: $white;
            position: absolute;
            left: -70px;
            top: -55px;
            width: 140px;
        }

        
        svg{
            position: relative;
            top: -20px;
            right: 10px;
            height:20px;
            width: 20px;
        }
    }

    // Overriding mapbox ctrl geocoder search styles
    .mapboxgl-ctrl-geocoder {
        line-height: 24px;
        position: relative;
        background-color: $white;
        box-shadow: none;
        width: 550px;
        z-index: 0;
        transition: width .25s, min-width .25s;
        font-size: $sm;
        @extend .m-lg;
        
        input{
            background: $white;
            box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
            outline: none;
            border: none;
            border-radius: 3px;
            height: 35px;
            //padding-left: 32px;

            ::placeholder{
                color: $gray-text;
            }
        }
        .mapboxgl-ctrl-geocoder--icon {
            display: inline-block;
            vertical-align: middle;
            fill: $gray-1;
        }

        .mapboxgl-ctrl-geocoder--icon-loading {
            display: none;
        }
    }
}
