@import '../../styles/colors.scss';


.menu-button{
    position: absolute;
    top: 50px;
    right: 50px;
    background: white;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.icon{
    margin-top: 5px;
}

.slide-panel {
    position: absolute;
    top: 0;
    right: -600px;
    bottom: 0;
    background: $white;
    border-radius: 20px 0 0 20px;
    width: 600px;
    max-width: 50vw;

    .panel-container{
        max-height: 100vh;
    }
}
  