@import '../../styles/colors.scss';
@import '../../styles/globals.scss';

.profile-container{
    width: 100%;
}

.image-wrapper{
    border: 5px solid $white;
    border-radius: 50%;
    height: 170px;
    overflow: hidden;
    width: 170px;

    img{
        width: 100%;
        height: auto;
    }
}

.separator{
    border-top: 1px solid $gray-light;
    width: 100%;
}

.info-section{
    border-left: 2px solid $primary;

    .header{
        color: $gray-text;
        font-weight: 600;
    }
    .content{
        font-weight: 600;
    }
    .reputation{
        color: $secondary;
    }

}

.history-container{
    .dropdowns{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: $md;
    }
}